<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-graph2 icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Registro de Ideas</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Convocatorias</p>
                    </div>
                    <div class="col-md-5">
                        <select [(ngModel)]="nuevoProyectoIdConvocatoria" name="nuevoProyectoIdConvocatoria" class="form-control">
                            <option value="">Seleccione una Convocatoria</option>
                            <option *ngFor="let cnv of convocatorias" value="{{cnv.id}}">{{cnv.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Nombre</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" [(ngModel)]="nuevoProyectoNombre" name="nuevoProyectoNombre" class="form-control" placeholder="Ingrese el nombre de su proyecto">
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Descripción</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" [(ngModel)]="nuevoProyectoDescripcion" name="nuevoProyectoDescripcion" class="form-control" placeholder="Ingrese la descripción de su proyecto">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <strong>Área de Gestión</strong>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Unidad</p>
                    </div>
                    <div class="col-md-5">
                        <select [(ngModel)]="nuevoProyectoIdUnidad" (change)="actualizaDataLineas()" name="nuevoProyectoIdUnidad" class="form-control">
                            <option value="">Seleccione una Unidad</option>
                            <option *ngFor="let und of unidades" value="{{und.id}}">{{und.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Linea</p>
                    </div>
                    <div class="col-md-5">
                        <select id="nuevoProyectoIdLinea" [(ngModel)]="nuevoProyectoIdLinea" name="nuevoProyectoIdLinea" class="form-control" disabled>
                            <option value="">Seleccione una Linea</option>
                            <option *ngFor="let lns of lineas" value="{{lns.id}}">{{lns.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <strong>Impacto</strong>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Categoría</p>
                    </div>
                    <div class="col-md-5">
                        <select [(ngModel)]="nuevoProyectoIdCategoria" name="nuevoProyectoIdCategoria" class="form-control">
                            <option value="">Seleccione una Categoría</option>
                            <option *ngFor="let ctg of categorias" value="{{ctg.id}}">{{ctg.descripcion}}</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Impacto</p>
                    </div>
                    <div class="col-md-5">
                        <select [(ngModel)]="nuevoProyectoIdImpacto" name="nuevoProyectoIdImpacto" class="form-control">
                            <option value="">Seleccione un Impacto</option>
                            <option *ngFor="let imp of impactos" value="{{imp.id}}">{{imp.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-header">
                <ul class="nav nav-justified">
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-0" class="active nav-link">Información del Equipo</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-1" class="nav-link">Información del Proyecto</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-eg7-0" role="tabpanel">
                        <div class="row" style="margin-bottom:15px;">
                            <div class="col-md-12">
                                <p style="margin-top:20px;"><a (click)="openModal(template)" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-add-user btn-icon-wrapper"> </i> Agregar Participante</a></p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="nuevoProyectoLider" class="">Lider</label>
                                    <input [(ngModel)]="nuevoProyectoLiderNombre" name="nuevoProyectoLiderNombre" id="nuevoProyectoLiderNombre" type="text" class="form-control" disabled>
                                    <input type="hidden" name="nuevoProyectoLider" [(ngModel)]="nuevoProyectoLider">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="nuevoProyectoAsesor" class="">Asesor</label>
                                    <input [(ngModel)]="nuevoProyectoAsesor" name="nuevoProyectoAsesor" id="nuevoProyectoAsesor" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Codigo</th>
                                            <th>Tipo</th>
                                            <th>Area</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let itm of nuevoProyectoEquipo">
                                            <td>{{itm.nombre}}</td>
                                            <td>{{itm.codigo}}</td>
                                            <td>{{itm.tipo}}</td>
                                            <td>{{itm.area}}</td>
                                            <td>
                                                <a (click)="borraParticipanteEquipo(itm.codigo)" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;color: #FFF;" title="Eliminar"><i class="pe-7s-trash btn-icon-wrapper"> </i></a>
                                            </td>
                                        </tr>
                                    </tbody>                
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-eg7-1" role="tabpanel">
                        <p class="text-center" style="margin-top:20px;"><a class="mb-2 mr-2 btn-icon btn bg-unfv" (click)="file.click()" style="color:#FFF;"><i class="pe-7s-cloud-download btn-icon-wrapper"> </i> Cargar Documentación del Proyecto</a></p>
                        <input type="file" #file id="uploadFileBtn" (change)="uploadFile(file.files)" style="width: 1px;height: 1px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <p class="text-center" style="margin-top:20px;"><a (click)="crearNuevoProyecto()" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-diskette btn-icon-wrapper"> </i> Registrar Proyecto</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Agregar Participante</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="position-relative form-group">
            <label>Nombre</label>
            <input id="agregaEquipoNombre" placeholder="Nombres" type="text" class="form-control">
        </div>
        <div class="position-relative form-group">
            <label>Código</label>
            <input id="agregaEquipoCodigo" placeholder="Codigo" type="text" class="form-control">
        </div>
        <div class="position-relative form-group">
            <label>Tipo</label>
            <input id="agregaEquipoTipo" placeholder="Tipo" type="text" class="form-control">
        </div>
        <div class="position-relative form-group">
            <label>Area</label>
            <input id="agregaEquipoArea" placeholder="Area" type="text" class="form-control">
        </div>
        <div class="position-relative form-group">
            <button id="btnAgregar" (click)="agregaParticipanteEquipo()" class="form-control bg-unfv" style="color: #FFF;">Agregar Miembro</button>
        </div>
    </div>
  </ng-template>