<div class="app-header header-shadow bg-info header-text-light">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="app-header__content">
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img width="42" class="rounded-circle" src="assets/images/avatars/2.jpg" alt="">
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-menu-header">
                                        <div class="dropdown-menu-header-inner bg-focus">
                                            <div class="menu-header-image opacity-2" style="background-image: url('assets/images/muni/perfil.jpg');"></div>
                                            <div class="menu-header-content text-left">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-3">
                                                            <img width="42" class="rounded-circle" src="assets/images/avatars/2.jpg" alt="">
                                                        </div>
                                                        <div class="widget-content-left">
                                                            <div class="widget-heading" style="color:#FFF;opacity: 1;">{{ this.nombres + ' ' + this.apellidos }}</div>
                                                            <div class="widget-subheading" style="color:#FFF;opacity: 1;">{{ this.rol_descripcion }}</div>
                                                        </div>
                                                        <div class="widget-content-right mr-2">
                                                            <button (click)="goToLogin()"  class="btn-pill btn-shadow btn-shine btn btn-light">Salir</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scroll-area-xs" style="height: 150px;">
                                        <div class="scrollbar-container ps">
                                            <ul class="nav flex-column">
                                                <li class="nav-item-header nav-item">Mi Cuenta</li>
                                                <li class="nav-item"><a (click)="openModal(template3)" class="nav-link">Cambiar Contraseña</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left  ml-3 header-user-info">
                            <div class="widget-heading">{{ this.nombres + ' ' + this.apellidos }}</div>
                            <div class="widget-subheading">{{ this.rol_descripcion }}</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <ng-template #template3>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Cambiar Contraseña</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="position-relative form-group">
                <label>Nueva Contraseña</label>
                <input [(ngModel)]="newPassword" id="cambiarPassword" placeholder="Contraseña" type="password" class="form-control">
            </div>
            <div class="position-relative form-group">
                <button id="btnCambiar" (click)="cambiarPassword()" class="form-control bg-unfv" style="color: #FFF;">Cambiar</button>
            </div>
        </div>
      </ng-template>