<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-search icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Resultados de Comité</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Convocatoria</p>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" value="{{proyectoConvocatoria}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Nombre</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{proyectoNombre}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Descripción</p>
                    </div>
                    <div class="col-md-5">
                        <textarea name="" class="form-control" disabled>{{proyectoDescripcion}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <strong>Información del Proyecto</strong>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Categoria</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{proyectoCategoria}}" disabled>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Impacto</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{proyectoImpacto}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Lider</p>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" value="{{proyectoLiderNombre}}" disabled>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Asesor</p>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" value="{{proyectoAsesor}}" disabled>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Fecha Registro</p>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" value="{{proyectoFechaRegistro | date: 'dd/MM/yyyy'}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <p class="text-center" style="margin-top:20px;"><a href="{{proyectoDocumentoProyecto}}" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;" download><i class="pe-7s-cloud-download btn-icon-wrapper"> </i> Descargar Documentación del Proyecto</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <strong>Programación en Comité</strong>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Resultado</p>
                    </div>
                    <div class="col-md-3">
                        <select [(ngModel)]="resultadoComiteResultado" name="inputCategoriaRegistro" class="form-control">
                            <option value="">Seleccione un Resultado</option>
                            <option value="Priorizado">Priorizado</option>
                            <option value="Rechazado">Rechazado</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Motivo</p>
                    </div>
                    <div class="col-md-3">
                        <textarea [(ngModel)]="resultadoComiteMotivo" name="resultadoComiteMotivo" class="form-control" placeholder="Ingrese los motivos acerca del resultado emitido"></textarea>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Criterios</p>
                    </div>
                    <div class="col-md-3">
                        <div *ngFor="let itm of proyectoCriterios; let i = index" class="row" style="margin-bottom:15px;">
                            <div class="col-md-6">
                                <p class="form-text-format">{{itm.nombre}}</p>
                            </div>
                            <div class="col-md-6">
                                <input type="text" pattern="[0-9]*" id="criterio-{{i}}" (keyup)="validaMontoCriterio($event)" class="form-control single-criterio" placeholder="Calificar criterio">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Calificacion</p>
                    </div>
                    <div class="col-md-3">
                        <input [(ngModel)]="resultadoComiteCalificacion" type="number" min="0" max="100" class="form-control" placeholder="Califique aqui" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <p class="text-center" style="margin-top:20px;"><a (click)="evaluarProyecto()" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-diskette btn-icon-wrapper"> </i> Evaluar Proyecto</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>