<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-server icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Maestro Usuarios</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioId" class="">Id</label>
                    <input [(ngModel)]="nuevoUsuarioId" name="nuevoUsuarioId" id="nuevoUsuarioId" placeholder="Usuario ID" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioCodUsuario" class="">Cod Usuario</label>
                    <input [(ngModel)]="nuevoUsuarioCodUsuario" name="nuevoUsuarioCodUsuario" id="nuevoUsuarioCodUsuario" placeholder="Usuario Cod Usuario" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioNombres" class="">Nombres</label>
                    <input [(ngModel)]="nuevoUsuarioNombres" name="nuevoUsuarioNombres" id="nuevoUsuarioNombres" placeholder="Usuario Nombres" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioApellidos" class="">Apellidos</label>
                    <input [(ngModel)]="nuevoUsuarioApellidos" name="nuevoUsuarioApellidos" id="nuevoUsuarioApellidos" placeholder="Usuario Apellidos" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioUnidadOrganizativa" class="">Unidad Organizativa</label>
                    <select [(ngModel)]="nuevoUsuarioUnidadOrganizativa" name="nuevoUsuarioUnidadOrganizativa" id="nuevoUsuarioUnidadOrganizativa" class="form-control">
                        <option value="">Seleccione una Unidad</option>
                        <option *ngFor="let und of uniorg" value="{{und.id}}">{{und.descripcion}}</option>
                    </select>
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioTelefono" class="">Telefono</label>
                    <input [(ngModel)]="nuevoUsuarioTelefono" name="nuevoUsuarioTelefono" id="nuevoUsuarioTelefono" placeholder="Usuario Telefono" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioCorreo" class="">Correo</label>
                    <input [(ngModel)]="nuevoUsuarioCorreo" name="nuevoUsuarioCorreo" id="nuevoUsuarioCorreo" placeholder="Usuario Correo" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioContrasena" class="">Contraseña</label>
                    <input [(ngModel)]="nuevoUsuarioContrasena" name="nuevoUsuarioContrasena" id="nuevoUsuarioContrasena" placeholder="Usuario Contrasena" type="password" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoUsuarioRol" class="">Rol</label>
                    <select [(ngModel)]="nuevoUsuarioRol" name="nuevoUsuarioRol" id="nuevoUsuarioRol" class="form-control">
                        <option value="">Seleccione un Rol</option>
                        <option *ngFor="let rol of roles" value="{{rol.id}}">{{rol.descripcion}}</option>
                    </select>
                </div>
                <a (click)="crearNuevoUsuario()" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-diskette btn-icon-wrapper"> </i> Guardar</a>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>