<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-server icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Maestro Lineas</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="position-relative form-group">
                    <label for="nuevaLineaId" class="">Id</label>
                    <input [(ngModel)]="nuevaLineaId" name="nuevaLineaId" id="nuevaLineaId" placeholder="Rol ID" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevaLineaDescripcion" class="">Descripcion</label>
                    <input [(ngModel)]="nuevaLineaDescripcion" name="nuevaLineaDescripcion" id="nuevaLineaDescripcion" placeholder="Rol Descripcion" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevaLineaIdUnidad" class="">Unidad</label>
                    <select [(ngModel)]="nuevaLineaIdUnidad" name="nuevaLineaIdUnidad" id="nuevaLineaIdUnidad" class="form-control">
                        <option value="">Seleccione una Unidad</option>
                        <option *ngFor="let und of unidades" value="{{und.id}}">{{und.descripcion}}</option>
                    </select>
                </div>
                <a (click)="crearNuevaLinea()" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-diskette btn-icon-wrapper"> </i> Guardar</a>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>