<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-server icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Maestro Roles</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <a routerLink="/maestros/roles/nuevo" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-plus btn-icon-wrapper"> </i> Nuevo Rol</a>
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripcion</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rol of roles">
                            <td>{{rol.id}}</td>
                            <td>{{rol.descripcion}}</td>
                            <td>
                                <a (click)="deleteRol(rol.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;color:#FFF" title="Eliminar Rol"><i class="pe-7s-trash btn-icon-wrapper"> </i></a>
                            </td>
                        </tr>
                    </tbody>                
                </table>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>