<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-drawer icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Bandeja de Proyectos</div>
                </div>
            </div>
        </div>
        <!-- <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <strong>Criterios de Busqueda</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="searchNombreProyecto" placeholder="Buscar por Proyecto">
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control" name="searchFechaRegistro" placeholder="Buscar por Fec. Registro">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="searchUnidad" placeholder="Buscar por Unidad">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="searchLinea" placeholder="Buscar por Linea">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="searchTutor" placeholder="Buscar por Tutor">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="searchEstado" placeholder="Buscar por Estado">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="main-card mb-3 card">
            <div class="card-body">
                <a routerLink="/registrar-proyectos" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-upload btn-icon-wrapper"> </i> Registrar Proyecto</a>
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Cod Proyecto</th>
                            <th>Proyecto</th>
                            <th>Fec. Registro</th>
                            <th>Unidad</th>
                            <th>Linea</th>
                            <th>Asesor</th>
                            <th>Estado</th>
                            <th>Etapa</th>
                            <th>Resultado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proy of proyecto">
                            <td>{{proy.cod_proyecto}}</td>
                            <td>{{proy.nombre}}</td>
                            <td>{{proy.fecha_registro | date: 'dd/MM/yyyy'}}</td>
                            <td>{{proy.unidad}}</td>
                            <td>{{proy.linea}}</td>
                            <td>{{proy.asesor}}</td>
                            <td>{{proy.estado}}</td>
                            <td>{{proy.etapa}}</td>
                            <td>{{proy.resultado}}</td>
                            <td>
                                <a *ngIf="validateRolUsuarioLiderGestor(proy.id)" [routerLink]="['/modificar-proyectos', proy.id]" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;color:#FFF;" title="Modificar Proyecto"><i class="pe-7s-tools btn-icon-wrapper"> </i></a>
                                <a *ngIf="validateRolGestor(proy.etapa, 'revisar')" [routerLink]="['/revisar-proyectos', proy.id]" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;color:#FFF;" title="Revisar Proyecto"><i class="pe-7s-hammer btn-icon-wrapper"> </i></a>
                                <a *ngIf="validateRolGestor(proy.etapa, 'programar')" [routerLink]="['/programar-comite-proyectos', proy.id]" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;color:#FFF;" title="Programar Comite Proyecto"><i class="pe-7s-date btn-icon-wrapper"> </i></a>
                                <a *ngIf="validateRolGestor(proy.etapa, 'evaluar')" [routerLink]="['/revisar-comite-proyectos', proy.id]" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;color:#FFF;" title="Evaluar Comite Proyecto"><i class="pe-7s-expand1 btn-icon-wrapper"> </i></a>
                                <a href="{{proy.documento_proyecto}}" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;" title="Descargar Proyecto" download><i class="pe-7s-cloud-download btn-icon-wrapper"> </i></a>
                                <a *ngIf="validateRolAdmin()" (click)="deleteProyecto(proy.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success bg-unfv" style="border-color: unset;color:#FFF;" title="Eliminar Proyecto"><i class="pe-7s-trash btn-icon-wrapper"> </i></a>
                            </td>
                        </tr>
                    </tbody>                
                </table>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>