<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-culture icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Programar Comité</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Convocatoria</p>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" value="{{proyectoConvocatoria}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Nombre</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{proyectoNombre}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Descripción</p>
                    </div>
                    <div class="col-md-5">
                        <textarea name="" class="form-control" disabled>{{proyectoDescripcion}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <strong>Información del Proyecto</strong>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Categoria</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{proyectoCategoria}}" disabled>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Impacto</p>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{proyectoImpacto}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Lider</p>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" value="{{proyectoLiderNombre}}" disabled>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Asesor</p>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" value="{{proyectoAsesor}}" disabled>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Fecha Registro</p>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" value="{{proyectoFechaRegistro | date: 'dd/MM/yyyy'}}" disabled>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <p class="text-center" style="margin-top:20px;"><a href="{{proyectoDocumentoProyecto}}" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;" download><i class="pe-7s-cloud-download btn-icon-wrapper"> </i> Descargar Documentación del Proyecto</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <strong>Programación en Comité</strong>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Fecha</p>
                    </div>
                    <div class="col-md-3">
                        <input [(ngModel)]="registroComiteFecha" type="date" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Participantes</p>
                    </div>
                    <div class="col-md-3">
                        <div *ngFor="let itm of registroComiteParticipantes" class="custom-control">
                            <label>{{itm.nombre}} <a (click)="eliminaParticipante(itm.nombre)" style="color:red;font-size:14px;margin-left:10px;cursor:pointer;" title="Eliminar item">x</a></label>
                        </div>
                        <p style="margin-top:20px;"><a (click)="openModal(template)" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-add-user btn-icon-wrapper"> </i> Agregar Participante</a></p>
                    </div>
                    <div class="col-md-1">
                        <p class="form-text-format">Criterios</p>
                    </div>
                    <div class="col-md-3">
                        <div *ngFor="let itm2 of registroComiteCriterio" class="custom-control">
                            <label>{{itm2.nombre}} <a (click)="eliminaCriterio(itm2.nombre)" style="color:red;font-size:14px;margin-left:10px;cursor:pointer;" title="Eliminar item">x</a></label>
                        </div>
                        <p style="margin-top:20px;"><a (click)="openModal(template2)" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-add-user btn-icon-wrapper"> </i> Agregar Criterio</a></p>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1">
                        <p class="form-text-format">Lugar</p>
                    </div>
                    <div class="col-md-3">
                        <input [(ngModel)]="registroComiteLugar" type="text" class="form-control" placeholder="Indique el lugar">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <p class="text-center" style="margin-top:20px;"><a (click)="programaProyecto()" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-diskette btn-icon-wrapper"> </i> Programar Proyecto</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Agregar Participante</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="position-relative form-group">
            <label>Participante</label>
            <input id="agregaParticipante" placeholder="Participante" type="text" class="form-control">
        </div>
        <div class="position-relative form-group">
            <button id="btnAgregar" (click)="agregaParticipante()" class="form-control bg-unfv" style="color: #FFF;">Agregar</button>
        </div>
    </div>
  </ng-template>

  <ng-template #template2>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Agregar Criterio</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="position-relative form-group">
            <label>Criterio</label>
            <input id="agregaCriterio" placeholder="Criterio" type="text" class="form-control">
        </div>
        <div class="position-relative form-group">
            <button id="btnAgregar" (click)="agregaCriterio()" class="form-control bg-unfv" style="color: #FFF;">Agregar</button>
        </div>
    </div>
  </ng-template>