<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-server icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Maestro Tipo Proyecto</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="position-relative form-group">
                    <label for="nuevoTipoProyectoId" class="">Id</label>
                    <input [(ngModel)]="nuevoTipoProyectoId" name="nuevoTipoProyectoId" id="nuevoTipoProyectoId" placeholder="Tipo Proyecto ID" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoTipoProyectoDescripcion" class="">Descripcion</label>
                    <input [(ngModel)]="nuevoTipoProyectoDescripcion" name="nuevoTipoProyectoDescripcion" id="nuevoTipoProyectoDescripcion" placeholder="Tipo Proyecto Descripcion" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevoTipoProyectoRequisitos" class="">Requisitos</label>
                    <textarea [(ngModel)]="nuevoTipoProyectoRequisitos" name="text" id="nuevoTipoProyectoRequisitos" placeholder="Tipo Proyecto Requisitos" class="form-control"></textarea>
                </div>
                <a (click)="crearNuevoTipoProyecto()" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-diskette btn-icon-wrapper"> </i> Guardar</a>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>