<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation" style="background-color: #f07613;background-image: none !important;">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="h5 modal-title text-center">
                                    <h4 class="mt-2">
                                        <div>Iniciar Sesión</div>
                                    </h4>
                                </div>
                                <form class="">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group"><input name="email" [(ngModel)]="inputUsuario" id="exampleEmail" (keydown.enter)="loginUser()" placeholder="Usuario" type="email" class="form-control"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group"><input name="password" [(ngModel)]="inputPassword" id="examplePassword" (keydown.enter)="loginUser()" placeholder="Contraseña" type="password" class="form-control"></div>
                                        </div>
                                    </div>
                                </form>
                                <p id="sesion-msg" class="text-center" [innerHTML]="sessionMsg"></p>
                            </div>
                            <div class="modal-footer clearfix">
                                <button class="btn btn-primary btn-lg" style="width: 100%;background-color: #f07613;border-color:#f07613;" (click)="loginUser()">Ingresar</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">Universidad Nacional Federico Villarreal &copy; 2021</div>
                </div>
            </div>
        </div>
    </div>
</div>
