<router-outlet *ngIf="login"></router-outlet>

<div *ngIf="!login" class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
  <app-navbar></app-navbar>
  <div class="app-main">
    <app-menu></app-menu>
    <router-outlet></router-outlet>    
  </div>
</div>
<app-footer *ngIf="!login"></app-footer>