<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-server icon-gradient bg-unfv">
                        </i>
                    </div>
                    <div>Maestro Lineas</div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="position-relative form-group">
                    <label for="nuevaConvocatoriaId" class="">Id</label>
                    <input [(ngModel)]="nuevaConvocatoriaId" name="nuevaConvocatoriaId" id="nuevaConvocatoriaId" placeholder="Convocatoria ID" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevaConvocatoriaDescripcion" class="">Descripcion</label>
                    <input [(ngModel)]="nuevaConvocatoriaDescripcion" name="nuevaConvocatoriaDescripcion" id="nuevaConvocatoriaDescripcion" placeholder="Convocatoria Descripcion" type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="nuevaConvocatoriaIdTipoProyecto" class="">Tipo Proyecto</label>
                    <select [(ngModel)]="nuevaConvocatoriaIdTipoProyecto" name="nuevaConvocatoriaIdTipoProyecto" id="nuevaConvocatoriaIdTipoProyecto" class="form-control">
                        <option value="">Seleccione un Tipo Proyecto</option>
                        <option *ngFor="let tpp of tipo_proyectos" value="{{tpp.id}}">{{tpp.descripcion}}</option>
                    </select>
                </div>
                <div class="position-relative form-group">
                    <label for="nuevaConvocatoriaIdUnidad" class="">Unidad</label>
                    <select [(ngModel)]="nuevaConvocatoriaIdUnidad" name="nuevaConvocatoriaIdUnidad" id="nuevaConvocatoriaIdUnidad" class="form-control">
                        <option value="">Seleccione una Unidad</option>
                        <option *ngFor="let und of unidades" value="{{und.id}}">{{und.descripcion}}</option>
                    </select>
                </div>
                <div class="position-relative form-group">
                    <label for="nuevaConvocatoriaVigencia" class="">Vigencia</label>
                    <input [(ngModel)]="nuevaConvocatoriaVigencia" name="nuevaConvocatoriaVigencia" id="nuevaConvocatoriaVigencia" placeholder="Convocatoria Vigencia" type="date" class="form-control">
                </div>
                <a (click)="crearNuevaConvocatoria()" class="mb-2 mr-2 btn-icon btn bg-unfv" style="color:#FFF;"><i class="pe-7s-diskette btn-icon-wrapper"> </i> Guardar</a>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Universidad Nacional Federico Villarreal &copy; 2021</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>