<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading" style="color:#f07613">Menu</li>
                <li>
                    <a routerLink="welcome">
                        <i class="metismenu-icon pe-7s-home"></i> Inicio
                    </a>
                </li>
                <li>
                    <a routerLink="bandeja-de-ideas">
                        <i class="metismenu-icon pe-7s-drawer"></i> Bandeja de Ideas
                    </a>
                </li>
                <li *ngIf="this.rol_user || this.rol_admin">
                    <a routerLink="registrar-proyectos">
                        <i class="metismenu-icon pe-7s-graph2"></i> Registrar Proyectos
                    </a>
                </li>
                <!-- <li *ngIf="this.rol_user || this.rol_gestor || this.rol_admin">
                    <a routerLink="modificar-proyectos">
                        <i class="metismenu-icon pe-7s-pin"></i> Modificar Proyectos
                    </a>
                </li> -->
                <!-- <li *ngIf="this.rol_gestor || this.rol_admin">
                    <a routerLink="revisar-proyectos">
                        <i class="metismenu-icon pe-7s-search"></i> Revisar Proyectos
                    </a>
                </li>
                <li *ngIf="this.rol_gestor || this.rol_admin">
                    <a routerLink="revisar-comite">
                        <i class="metismenu-icon pe-7s-culture"></i> Programar Comité
                    </a>
                </li>
                <li *ngIf="this.rol_gestor || this.rol_admin">
                    <a routerLink="resultados-comite">
                        <i class="metismenu-icon pe-7s-search"></i> Revisión Comité
                    </a>
                </li> -->
                <li *ngIf="this.rol_admin">
                    <a href="#">
                        <i class="metismenu-icon pe-7s-server"></i> Maestros
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a routerLink="maestros/convocatorias">
                                <i class="metismenu-icon"></i> Convocatorias
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/tipo-proyectos">
                                <i class="metismenu-icon"></i> Tipo Proyectos
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/unidades">
                                <i class="metismenu-icon"></i> Unidades
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/lineas">
                                <i class="metismenu-icon"></i> Lineas
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/categorias">
                                <i class="metismenu-icon"></i> Categorias
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/impacto">
                                <i class="metismenu-icon"></i> Impacto
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/roles">
                                <i class="metismenu-icon"></i> Roles
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/unidades-organizativas">
                                <i class="metismenu-icon"></i> Unidades Organizativas
                            </a>
                        </li>
                        <li>
                            <a routerLink="maestros/usuarios">
                                <i class="metismenu-icon"></i> Usuarios
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>